<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Trump Tweet Effect</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>

    <link href="../static/css/style.css" type="text/css" rel="stylesheet">
    <script src="../static/js/w3.js" type="text/javascript"></script>
    <script src="../static/js/bubbles.js" type="text/javascript"></script>

    <script>
        wordcnt_create()
    </script>
    <script>
        phrasecnt_create()
    </script>
</head>

<!-- <body> -->
<!-- add in the header/nav bar -->
<div w3-include-html="/header"></div>


<div class="container_main">
    <!-- Start coding here -->

    <div id="tooltip" class="hidden"></div>
    <div class="row">
        <div class="col-md- col-sm-7" class="bubble">
            <!-- <div id='word_buble_header' class="bubble">Top 50 Words</div> -->
            <div id='wordbubble_chart'></div>
        </div>
        <div class="col-md-5 col-sm-5">
            <h5>Top 50 Words</h5>
            <hr>
            <p>The words <strong>great</strong> (4,067) and <strong>thank</strong> (1913) are the most frequent followed by words such as <strong>america</strong> (1446) and <strong>people</strong> (1854).
                <br /><br />The words <strong>great</strong> and <strong>america</strong> are part of the slogan Make America Great Again. The word <strong>make</strong> appears 1085 times. I expected to see the abbreviation for the slogan "maga" used
                frequently but after checking the database, it shows that <strong>Makeamericagreatagain</strong> (555) occurs more than <strong>maga</strong> (303). <br /><br />The word <strong>fake</strong> (802) occurs more than the slogan <strong>maga</strong>                at 303 occurrences. <strong>hilary</strong> appears 873 times, <strong>clinton</strong> (584), and <strong>obama</strong> (550). The word <strong>foxnews</strong> comes in at 594. A look into the database shows that <strong>cnn</strong>                didn't make the top 50, with 490 mentions. <br /><br />Although there are some interesting trends with the most commonly used words, the most commonly used phases seems to provide more insight. </p>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-7 col-sm-7" class="bubble">
            <div id='phrase_buble_header' class="bubble"></div>
            <div id='phrasebubble_chart'></div>
        </div>
        <div class="col-md-5 col-sm-5">
            <h5>Top 50 Phrases</h5>
            <hr>
            <p> A look at phrases shows variations of <strong>“make america great again”:</strong>

                <strong>“make america great”</strong> (496), <strong>“america great”</strong> (589) <strong>"make america"</strong> (551).
                <br /><br />The phrases <strong>"fake news"</strong> comes in at 619, <strong>"news media"</strong> at 200 and <strong>"fake news media" </strong> 188.
                <br /><br /><strong>"witch hunt"</strong> comes in at 329.
                <br /><br />With phrases we also begin to see different references to people. <strong>"crooked hillary"</strong> (349), <strong>"hillary clinton"</strong> (329) and <strong>"crooked hillary clinton"</strong>(126) appear as does <strong>"president obama"</strong>                (123).
                <br /><br />
                <strong>"north korea"</strong> (183), <strong>"prime minister"</strong> (115) are references to foreign policy, with <strong>"illegal immigration"</strong> mentioned 115 times. </p>
        </div>
    </div>
</div>
<script type="text/javascript">
    w3.includeHTML();
</script>
</body>

</html>