<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Trump Tweet Effect</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://public.tableau.com/javascripts/api/tableau-2.min.js"></script>

    <link href="../static/css/style.css" type="text/css" rel="stylesheet">
    <script src="../static/js/w3.js" type="text/javascript"></script>


</head>
<!-- <body> -->
<!--Adding in nav header-->

<div w3-include-html="./header"></div>

<div class="container_main">
    <!-- Start coding here -->

    <!-- <h3 class="market-viz">Market Impact</h3> -->
    <div class="row">
        <div class="col-md-8 col-sm-7" class="market">
            <!-- <h4>GDP Tweets vs Stock Data</h2> -->
            <div id="vizContainer_large" class="market-viz"></div>
            <!-- style="width:800px; height:600px;" -->
        </div>
        <div class="col-md-4 col-sm-3" class="market">

                <h5 class="text">Does the Market Respond to Trump's Tweets?</h5>
                <hr>
                <p class="text">
                    <h6 class="text">Trump's Tweets as Word Counts on GDP Components</h6>
                    Graphically, observing the stock market categorized by sizes of market capitalization, large-cap (SPY ETF), mid-cap (MDY ETF), and small-cap (IJR ETF) from January 2015 to December 2019, we see that the number of trump's tweets on components of GDP by
                    months have both positive and negative relations to the changes in the stock markets, more so in the mid-cap stocks and large-cap stocks respectively. The words that we count include words related to trade (e.g., trade, China, tariff,
                    dumping, etc.), market (market, stock, gdp, etc.) and tax. The market in relation to the tweets shows more volatility in 2018 and 2019. Looking closely at the patterns of Trump's tweets, we see that Trump tweeted about market more in 2018
                    and 2019. Future analysis would involve investigating causality to see whether Trump's tweets are his reactions to the markets or whether his tweets have any impacts to the market.
                    <br /><br />
                </p>
        </div>
        <div class="col-md-8 col-sm-7" class="market">
            <!-- <h4>GDP Tweets vs RGDP Data</h2> -->
            <div id="vizContainer_mid" class="market-viz"></div>
            <!-- style="width:800px; height:600px;"  -->
            </div>
            <div class="col-md-4 col-sm-3" class="market">
 
                <h5 class="text">Does Trump Tweet in Respond to the Economic Indicators Instead?</h5>
                <hr>
                <p class="text"> 
                    <h6 class="text">Trump's Tweet as Word Counts on GDP Components versus the Bureau of Economic Analysis (BEA) New Releases on RGDP growth</h6>
                    Trump has tweeted more over times when the BEA new releases estimate increases in RGDP growth rates. His tweet counts have been flat when the estimates show slow or negative RGDP growth rates.
                    <br /><br />
                </p>
        </div>
        <div class="col-md-8 col-sm-7" class="market">
            <!-- <h4>Employment Tweets vs Job Increses</h4> -->
            <div id="vizContainer_small" class="market-viz"></div>
            <!-- style="width:800px; height:600px;" -->
        </div>
        <div class="col-md-4 col-sm-3" class="market">
            <p class="text">
                <h6 class="text">Trump's Tweet as Word Counts on Employment Situations versus the Bureau of Labor Statistics (BLS) New Releases on Non-Farm Employment</h6>
                In the same conclusions, Trump's tweet counts increase when the numbers of monthly job added are high and flat when they are low.
                <br /><br />
            </p>
        <!-- <div class="col-md-12 col-sm-12" class="market"> -->
            <h5 class="text">Do Economic Indicators Matter to the Market?</h5>
            <hr>
            <p class="text">
                Slightly! The market may decline even when there are increases in RGDP growth or number of monthly job added. They move in the same directions likely when the changes in the economic indicators are either positive or negative for a few months or quarters
                in the roll. The market responses also seem brief. This may confirm that the stock market performance often based on earning estimates and/or word counts during conference calls on quarterly earnings. It will be an interesting project
                also to find the expected number of job added and expected growth rate that the market would react if the actual numbers of monthly job added or estimated growth rates go above or below.
            </pclass="text">
        </div>
    </div>


</div>

<script type="text/javascript">
    w3.includeHTML();
</script>

<script src="../static/js/fin_graph.js"></script>
</body>

</html>